build
project.xcworkspace
xcuserdata
.DS_Store
Graphics/Export

# fastlane specific
fastlane/report.xml
fastlane/screenshots

# deliver temporary files
fastlane/Preview.html

# scan temporary files
fastlane/test_output
