build
.build
project.xcworkspace
xcuserdata
.DS_Store
Graphics/Export

Scripts/.bin

# fastlane specific
fastlane/report.xml
fastlane/screenshots
fastlane/screenshots_for_website

# deliver temporary files
fastlane/Preview.html
*.ipa
*.dSYM.zip

# scan temporary files
fastlane/test_output
