# Excludes

--exclude .build/**/*
--exclude Scripts/**/*
--exclude Screenshots/SnapshotHelper.swift

# Disabled Rules

--disable blankLinesBetweenImports
--disable docComments
--disable modifiersOnSameLine
--disable redundantProperty
--disable redundantViewBuilder
--disable trailingClosures

# Enabled Rules

--enable blankLinesBetweenScopes
--enable emptyExtensions
--enable environmentEntry
--enable noGuardInTests
--enable privateStateVariables
--enable redundantEquatable
--enable throwingTests
--enable wrapEnumCases
--enable wrapSwitchCases

# Options

--binary-grouping 4,8
--decimal-grouping 3,5
--exponent-case lowercase
--header strip
--ifdef no-indent
--import-grouping testable-last
--indent 2
--pattern-let inline
--ranges no-space
--self init-only
--someAny false
--strip-unused-args unnamed-only
--trailing-commas collections-only
--wrap-arguments before-first
--wrap-collections before-first
--wrap-parameters before-first
